.team-item{
	width:200px;
	padding:5px;
	margin:5px;
	border: 2px groove lightgray;
}
.team-name{
	transform:translateY(-3px);
}
.team-item div{
	width:100px;
	height:100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#main-container a{
	text-decoration:none;
	color:blue;
}