<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<th:block th:replace="~{fragments/friend :: friendLayout}"></th:block>
		<h1>받은요청</h1>
		<table style="border: 1px solid; width: 400px; text-align: center;">
			<tr>
				<th>보낸사람 이메일</th>
				<th>수락/거절</th>
			</tr>
			<tr th:each="friendRequestDTO : ${receiveList}">
				<td>	<!-- 이메일 클릭 시 회원정보로 이동 -->
					<form action="/member/memberInfo" method="post" th:attr="id='infoForm' + ${friendRequestDTO.friend_request_id}">
						<a onclick="infoForm()" class="infoA" th:attr="data-info='infoForm' + ${friendRequestDTO.friend_request_id}" href="javascript:void(0);">
							[[${friendRequestDTO.member_email}]]
						</a>
						<input type="hidden" name="member_email" th:value="${friendRequestDTO.member_email}"			/>
					</form>
				</td>
				<td>
					<form action="/friend/friendAccept" method="post">
						<button type="submit">수락</button>
						<input type="hidden" name="member_send_id" th:value="${friendRequestDTO.member_send_id}"	/>
					</form>
					<form action="/friend/requestDelete" method="post">
						<button type="submit">거절</button>
						<input type="hidden" name="member_send_id" th:value="${friendRequestDTO.member_send_id}"	/>
						<input type="hidden" name="delete_who" value="send"	/>		<!-- 나에게 요청을 보낸 삭제 대상을 구분짓는 숨김요소 -->
					</form>
				</td>
			</tr>
		</table>
	</div>
	<script layout:fragment="script" type="text/javascript" src="/js/friendRequest.js"></script>
</body>
</html>