<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
	<div align="center">
		<form action="/member/login" method="post">
			<table>
				<tr>
					<td>
						<label for="email">이메일</label>
					</td>
					<td>
						<input type="email" name="member_email" id="email"	/>
					</td>
				</tr>
				<tr>
					<td>
						<label for="pw">비밀번호</label>
					</td>
					<td>
						<input type="password" name="member_password" id="pw"	/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="로그인"	/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>