<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header id="header" th:fragment="header">
	<div class="container">
		<h1 class="logo">Planner</h1>
<!-- 		<a href="/planner/main" class="menu_btn"> -->
		<a href="#" class="menu_btn">
			<div></div>
			<div></div>
			<div></div>
		</a>
		<nav class="nav">
		  	<ul class="gnb" sec:authorize="isAuthenticated()">
		  		<li><a href="javascript:void(0);">일정</a>
		  			<ul class="sub">
		  				<li><a href="#">메뉴1</a></li>
		  				<li><a href="#">메뉴2</a></li>
		  				<li><a href="#">메뉴3</a></li>
		  			</ul>
		  		</li>
		  		<li><a href="javascript:void(0);">그룹</a>
		  			<ul class="sub">
		  				<li><a href="#">메뉴1</a></li>
		  				<li><a href="#">메뉴2</a></li>
		  				<li><a href="#">메뉴3</a></li>
		  			</ul>
		  		</li>
		  		<li><a href="javascript:void(0);">일정</a>
		  			<ul class="sub">
		  				<li><a href="#">메뉴1</a></li>
		  				<li><a href="#">메뉴2</a></li>
		  				<li><a href="#">메뉴3</a></li>
		  			</ul>
		  		</li>
		  		<li><a href="javascript:void(0);">friend</a>
		  			<ul class="sub">
		  				<li><a href="/member/auth/search">회원검색</a></li>
		  				<li><a href="/friend/list">친구목록</a></li>
		  				<li><a href="/friend/receiveList">받은신청</a></li>
		  				<li><a href="/friend/sendList">보낸신청</a></li>
		  			</ul>
		  		</li>
		  	</ul>
	  	</nav>
	</div>
	<div class="hd_bg"></div>
  </header>
</html>