<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerLayout">
  <head>
    <title>Planner</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
  
  <nav class="navbar">
	<div class="logo">
		<i class="navImg"></i>	<!-- 로고 이미지 -->
		<a href="/planner/main">Planner</a>
	</div>
  	<ul class="nav_menu">
  		<li>
  			<a sec:authorize="isAuthenticated()" href="/member/memberSearch">친구</a>
  		</li>
  	</ul>
  	
  	<ul class="nav_icon">
  		<li class="myPage">
  			<!-- 아이콘 이미지 -->
<!-- 	  		<a sec:authorize="isAnonymous()" href="/member/insert">회원가입</a> -->
  			<a sec:authorize="isAuthenticated()"  href="/member/auth/myInfo">내 정보</a>
  			<a sec:authorize="isAuthenticated()"  href="/member/anon/signout">로그아웃</a>
  			<a sec:authorize="isAnonymous()"  href="/member/anon/login">로그인</a>
  		</li>
  	</ul>
  </nav>
	
</th:block>
</html>